name: Renovate check
on:
  pull_request:
    paths:
    - presets/**
    - default.json
    - renovate.json

  workflow_dispatch:
    inputs: {}

jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4

    - name: Install node
      uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4
      with:
        node-version: 20
        cache: npm
        cache-dependency-path: |
          presets/**
          default.json
          renovate.json

    - name: Check renovate config
      run: npx --yes --package renovate -- renovate-config-validator --strict default.json renovate.json presets/**

    - name: Renovate dry-run
      run: npx --yes --package renovate -- renovate --dry-run --autodiscover
      env:
        RENOVATE_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        RENOVATE_USE_BASE_BRANCH_CONFIG: ${{ github.ref }}
