# https://github.com/dependabot/fetch-metadata#enabling-auto-merge
name: Dependabot merge
on:
  workflow_call:
    inputs:
      automerge:
        default: true
        type: boolean
      minor:
        default: true
        description: whether to merge minor and patch or only patch versions
        type: boolean
    secrets:
      token:
        required: true

permissions:
  pull-requests: write
  contents: write

jobs:
  dependabot:
    runs-on: ubuntu-slim
    if: ${{ github.event.pull_request.user.login == 'dependabot[bot]' }}
    steps:
    - name: Dependabot metadata
      id: dependabot-metadata
      uses: dependabot/fetch-metadata@08eff52bf64351f401fb50d4972fa95b9f2c2d1b         # v2.4.0

    - name: Enable auto-merge for Dependabot PRs
      if: |
        (inputs.minor && steps.dependabot-metadata.outputs.update-type == 'version-update:semver-minor')
        || steps.dependabot-metadata.outputs.update-type == 'version-update:semver-patch'
      run: |
        if [[ "$AUTOMERGE" == "true" ]]; then
          gh pr merge --auto --rebase "$PR_URL"
        else
          gh pr merge --rebase "$PR_URL"
        fi
      env:
        PR_URL: ${{ github.event.pull_request.html_url }}
        GITHUB_TOKEN: ${{ secrets.token }}
        AUTOMERGE: ${{ inputs.automerge }}
